{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.categorie)}}
    {{ form_row(form.file) }}
    {{ form_row(form.visible) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
