{% extends 'base.html.twig' %}

{% block title %}Liste Jeune{% endblock %}

{% block body %}

    <div class="main-jeune">

        {% include 'layout/navbarDashboardAdmin.html.twig' %}

        <div class="container-jeune">

            <h1>Liste Jeune</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mobile</th>
                        <th>Mail</th>
                        <th>Number</th>
                        <th>Street</th>
                        <th>AdditionalAddress</th>
                        <th>City</th>
                        <th>ZipCode</th>
                        <th>Date de création</th>
                        <th>Dernière modification</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for jeune in jeunes %}
                    <tr>
                        <td>{{ jeune.id }}</td>
                        <td>{{ jeune.lastname }}</td>
                        <td>{{ jeune.firstname }}</td>
                        <td>{{ jeune.mobile }}</td>
                        <td>{{ jeune.mail }}</td>
                        <td>{{ jeune.number }}</td>
                        <td>{{ jeune.street }}</td>
                        <td>{{ jeune.additionalAddress }}</td>
                        <td>{{ jeune.city }}</td>
                        <td>{{ jeune.zipCode }}</td>
                        <td>{{ jeune.creationDate ? jeune.creationDate|date('Y-m-d H:i'): ''}}</td>
                        <td>{{ jeune.lastModification ? jeune.lastModification|date('Y-m-d H:i'): ''}}</td>
                        <td>
                            <a href="{{ path('app_jeune_show', {'id': jeune.id}) }}">Voir</a>
                            <a href="{{ path('app_jeune_edit', {'id': jeune.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">Aucun utilisateurs trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_jeune_new') }}">Créer un nouveau Jeune</a>

        </div>

    </div>
{% endblock %}
