{% extends 'base.html.twig' %}

{% block title %}Jeune index{% endblock %}

{% block body %}
    <h1>Jeune index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Mobile</th>
                <th>Mail</th>
                <th>Number</th>
                <th>Street</th>
                <th>AdditionalAddress</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeune in jeunes %}
            <tr>
                <td>{{ jeune.id }}</td>
                <td>{{ jeune.lastname }}</td>
                <td>{{ jeune.firstname }}</td>
                <td>{{ jeune.mobile }}</td>
                <td>{{ jeune.mail }}</td>
                <td>{{ jeune.number }}</td>
                <td>{{ jeune.street }}</td>
                <td>{{ jeune.additionalAddress }}</td>
                <td>{{ jeune.city }}</td>
                <td>{{ jeune.zipCode }}</td>
                <td>
                    <a href="{{ path('app_jeune_show', {'id': jeune.id}) }}">show</a>
                    <a href="{{ path('app_jeune_edit', {'id': jeune.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_jeune_new') }}">Create new</a>
{% endblock %}
