{% extends 'base.html.twig' %}

{% block title %}Jeune{% endblock %}

{% block body %}
    <h1>Jeune</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeune.id }}</td>
            </tr>
            <tr>
                <th>Accompagnement</th>
                <td>{{ jeune.accompagnement == '0' ? 'Ancien' : jeune.accompagnement == '1' ? 'Nouveau'}}</td>
            </tr>
            <tr>
                <th>Type d'accompagnement</th>
                <td>{{ jeune.typeAccompagnement == '2' ? 'Ponctuel' : jeune.typeAccompagnement == '3' ? 'Régulier'}}</td>
            </tr>
            <tr>
                <th>Poly Suivi</th>
                <td>{{ jeune.polySuivi ? 'Administratif' : 'Judiciaire' }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ jeune.civilite == '1' ? 'Monsieur' : (jeune.civilite == '2' ? 'Madame' : 'Autres') }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jeune.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ jeune.firstname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ jeune.dob|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ jeune.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ jeune.mail }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ jeune.street }}</td>
            </tr>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ jeune.additionalAddress }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ jeune.city }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ jeune.zipCode }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ jeune.quartier }}</td>
            </tr>
            <tr>
                <th>Réseaux sociaux</th>
                <td>{{ jeune.reseaux }}</td>
            </tr>
            <tr>
                <th>Réseau sociaux précision</th>
                <td>{{ jeune.reseauxPrecision }}</td>
            <tr>
                <th>Secteur</th>
                <td>{{ jeune.secteur.name }}</td>
            </tr>
            <tr>
                <th>Référent éducatif</th>
                <td>{{ jeune.referentEduc.firstname }}</td>
            </tr>
            <tr>
                <th>Co-référent éducatif</th>
                {% if jeune.coreferentEduc %}
                    <td>{{ jeune.coreferentEduc.firstname }}</td>
                {% else %}
                    <td>Aucun</td>
                {% endif %}
            </tr>
            <tr>
                <th>Rencontre</th>
                <td>{{ jeune.getRencontreAsStrings }}</td>
            </tr>
            <tr>
                <th>Précision de la rencontre</th>
                <td>{{ jeune.rencontrePrecision }}</td>
            </tr>
            <tr>
                <th>Situation</th>
                <td>{% for situation in jeune.getSituationAsStrings %}
                        {{ situation }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Précision de la situation</th>
                <td>{{ jeune.situationPrecision }}</td>
            </tr>
            <tr>
                <th>Actions collectives</th>
                <td>{% for actions in jeune.getActionsCollectivesAsStrings %}
                        {{ actions }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Précision des actions collectives</th>
                <td>{{ jeune.actionsCollectivesPrecision }}</td>
            </tr>
            <tr>
                <th>Compte rendu</th>
                <td>{{ jeune.compteRendu }}</td>
            </tr>
            <tr>
                <th>Demande du jeune</th>
                <td>{{ jeune.demandeJeune }}</td>
            </tr>
            <tr>
                <th>Problématique</th>
                <td>{% for problematique in jeune.getProblematiqueAsStrings %}
                        {{ problematique }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Précision de la problématique</th>
                <td>{{ jeune.problematiquePrecision }}</td>
            </tr>
        </tbody>
    </table>

    <button onclick="window.location.href='{{ path('app_jeune_index') }}'">Quitter sans sauvegarder</button>

    <button onclick="window.location.href='{{ path('app_jeune_edit', {'id': jeune.id}) }}'">Modifier</button>

    {{ include('jeune/_delete_form.html.twig') }}
{% endblock %}
