{% extends 'base.html.twig' %}

{% block title %}Jeune{% endblock %}

{% block body %}
    <h1>Jeune</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeune.id }}</td>
            </tr>
            <tr>
                <th>Poly Suivi</th>
                <td>{{ jeune.polySuivi ? 'Administratif' : 'Judiciaire' }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ jeune.civilite == '1' ? 'Monsieur' : (jeune.civilite == '2' ? 'Madame' : 'Autres') }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jeune.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ jeune.firstname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ jeune.dob|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ jeune.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ jeune.mail }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ jeune.number }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ jeune.street }}</td>
            </tr>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ jeune.additionalAddress }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ jeune.city }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ jeune.zipCode }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ jeune.quartier }}</td>
            </tr>
            <tr>
                <th>Réseaux</th>
                <td>{{ jeune.reseaux }}</td>
            </tr>
            <tr>
                <th>Secteur</th>
                <td>{{ jeune.secteur.name }}</td> {# Assurez-vous que 'secteur' est une relation et 'name' est le champ approprié #}
            </tr>
            <tr>
                <th>Référent éducatif</th>
                <td>{{ jeune.referentEduc.lastname }}</td> {# De même, assurez-vous que c'est la bonne propriété #}
            </tr>
            <tr>
                <th>Co-référent éducatif</th>
                <td>{{ jeune.coreferentEduc }}</td>
            </tr>
            <tr>
                <th>Rencontre</th>
                <td>{{ jeune.rencontre }}</td> {# Vous devrez adapter cette ligne en fonction de la manière dont vous stockez et affichez les valeurs #}
            </tr>
            <tr>
                <th>Précision de la rencontre</th>
                <td>{{ jeune.rencontrePrecision }}</td>
            </tr>
            <tr>
                <th>Situation</th>
                <td>{{ jeune.situation }}</td> {# De même, adaptez en fonction de la représentation de votre situation #}
            </tr>
            <tr>
                <th>Précision de la situation</th>
                <td>{{ jeune.situationPrecision }}</td>
            </tr>
            <tr>
                <th>Actions collectives</th>
                <td>{{ jeune.actionsCollectives }}</td> {# Adaptez selon la représentation des actions collectives #}
            </tr>
            <tr>
                <th>Précision des actions collectives</th>
                <td>{{ jeune.actionsCollectivesPrecision }}</td>
            </tr>
            <tr>
                <th>Compte rendu</th>
                <td>{{ jeune.compteRendu }}</td>
            </tr>
            <tr>
                <th>Demande du jeune</th>
                <td>{{ jeune.demandeJeune }}</td>
            </tr>
            <tr>
                <th>Problématique</th>
                <td>{{ jeune.problematique }}</td> {# Adaptez selon la représentation de la problématique #}
            </tr>
            <tr>
                <th>Précision de la problématique</th>
                <td>{{ jeune.problematiquePrecision }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jeune_index') }}">Retour à la liste</a>

    <a href="{{ path('app_jeune_edit', {'id': jeune.id}) }}">Modifier</a>

    {{ include('jeune/_delete_form.html.twig') }}
{% endblock %}
