{% extends 'base.html.twig' %}

{% block title %}Jeune{% endblock %}

{% block body %}
    <h1>Jeune</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ jeune.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ jeune.firstname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ jeune.dob|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ jeune.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ jeune.mail }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ jeune.quartier }}</td>
            </tr>
            <tr>
                <th>Réseaux sociaux</th>
                <td>{{ jeune.reseaux }}</td>
            </tr>
            <tr>
                <th>Réseau sociaux précision</th>
                <td>{{ jeune.reseauxPrecision }}</td>
            <tr>
                <th>Secteur</th>
                <td>{{ jeune.secteur.name }}</td>
            </tr>
            <tr>
                <th>Référent éducatif</th>
                <td>{{ jeune.referentEduc.firstname }}</td>
            </tr>
            <tr>
                <th>Co-référent éducatif</th>
                {% if jeune.coreferentEduc %}
                    <td>{{ jeune.coreferentEduc.firstname }}</td>
                {% else %}
                    <td>Aucun</td>
                {% endif %}
            </tr>
            <tr>
                <th>Compte rendu</th>
                <td>{{ jeune.compteRendu }}</td>
            </tr>
            <tr>
                <th>Demande du jeune</th>
                <td>{{ jeune.demandeJeune }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h2>Fiche de liaison</h2>

        <button onclick="window.location.href=''">Mettre à jour la fiche de liaison</button>

        <button onclick="window.location.href=''">Télécharger la fiche de liaison</button>

    </div>

    <div>

        <h2>Fiche de suivi (Si aucunes fiches)</h2>

        <button onclick="window.location.href=''">Créer une fiche de suivi</button>

    </div>

    <div>

        <h2>Fiche de suivi</h2>

<button onclick="window.location.href=''">Créer une fiche de suivie</button>

    </div> <br>

    <button onclick="window.location.href='{{ path('app_jeune_index') }}'">Revenir à la liste</button>

    <button onclick="window.location.href='{{ path('app_jeune_edit', {'id': jeune.id}) }}'">Modifier</button>

    {{ include('jeune/_delete_form.html.twig') }}
{% endblock %}
