{% extends 'base.html.twig' %}

{% block title %}Liste des Secteurs{% endblock %}

{% block body %}

<div class="main-secteur">

    {% include 'layout/navbarDashboardAdmin.html.twig' %}

    <div class="main-secteur__container-secteur">

    <h1>Liste des Secteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Numéro de rue</th>
                <th>Rue</th>
                <th>Complément d'adresse</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secteur in secteurs %}
            <tr>
                <td>{{ secteur.id }}</td>
                <td>{{ secteur.name }}</td>
                <td>{{ secteur.mobile }}</td>
                <td>{{ secteur.mail }}</td>
                <td>{{ secteur.number }}</td>
                <td>{{ secteur.street }}</td>
                <td>{{ secteur.additionalAddress }}</td>
                <td>{{ secteur.city }}</td>
                <td>{{ secteur.zipCode }}</td>
                <td>
                    <a href="{{ path('app_secteur_show', {'id': secteur.id}) }}">Voir</a>
                    <a href="{{ path('app_secteur_edit', {'id': secteur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_secteur_new') }}">Créer un nouveau secteur</a>

    </div>

</div>
{% endblock %}
