{% extends 'base.html.twig' %}

{% block title %}Secteur{% endblock %}

{% block body %}
    <h1>Secteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ secteur.name }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ secteur.mobile }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ secteur.mail }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ secteur.number }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ secteur.street }}</td>
            </tr>
            <tr>
                <th>AdditionalAddress</th>
                <td>{{ secteur.additionalAddress }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ secteur.city }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ secteur.zipCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_secteur_index') }}">back to list</a>

    <a href="{{ path('app_secteur_edit', {'id': secteur.id}) }}">edit</a>

    {{ include('secteur/_delete_form.html.twig') }}
{% endblock %}
