{% extends 'base.html.twig' %}

{% block title %}Secteur{% endblock %}

{% block body %}
    <h1>Secteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ secteur.name }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ secteur.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ secteur.mail }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ secteur.street }}</td>
            </tr>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ secteur.additionalAddress }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ secteur.city }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ secteur.zipCode }}</td>
            </tr>
        </tbody>
    </table>


    <button onclick="window.location.href='{{ path('app_secteur_index') }}'">Revenir à la liste</button>

    <button onclick="window.location.href='{{ path('app_secteur_edit', {'id': secteur.id}) }}'">Modifier</button>

    {{ include('secteur/_delete_form.html.twig') }}

    <h2>Éducateurs</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Date de création</th>
            <th>Dernière modification</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.creationDate ? user.creationDate|date('Y-m-d H:i'): ''}}</td>
                <td>{{ user.lastModification ? user.lastModification|date('Y-m-d H:i'): ''}}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun éducateurs trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Jeunes</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Date de création</th>
            <th>Dernière modification</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for jeune in jeunes %}
            <tr>
                <td>{{ jeune.lastname }}</td>
                <td>{{ jeune.firstname }}</td>
                <td>{{ jeune.mobile }}</td>
                <td>{{ jeune.mail }}</td>
                <td>{{ jeune.creationDate ? jeune.creationDate|date('Y-m-d H:i'): ''}}</td>
                <td>{{ jeune.lastModification ? jeune.lastModification|date('Y-m-d H:i'): ''}}</td>
                <td>
                    <a href="{{ path('app_jeune_show', {'id': jeune.id}) }}">Voir</a>
                    <a href="{{ path('app_jeune_edit', {'id': jeune.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun jeunes trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
