{% block body %}

    <header class="header">

        <div class="header__logo">Logo</div>

        <!-- menu.html.twig -->
        <nav>
            <ul>
                <li href="{{ path('app_home') }}"><a href="{{ path('app_home') }}">Accueil</a></li>

                <li>
                    <a href="{{ path('app_association_apropos') }}">L'association</a>
                    <ul>
                        <li><a href="{{ path('app_association_apropos', {'id': 'apropos'}) }}">A Propos</a></li>
                        <li><a href="{{ path('app_association_histoire', {'id': 'notre_histoire'}) }}">Notre Histoire</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('app_nos_services') }}">Nos Services</a>
                    <ul>
                        <li><a href="{{ path('app_nos_services_travail_de_rue', {'id': 'travail_de_rue'}) }}">Travail de Rue</a></li>
                        <li><a href="{{ path('app_nos_services_accompagnement_social', {'id': 'accompagnement_social'}) }}">Accompagnement Social</a></li>
                        <li><a href="{{ path('app_nos_services_actions_collectives', {'id': 'actions_collectives'}) }}">Actions Collectives</a></li>
                        <li><a href="{{ path('app_nos_services_ateliers', {'id': 'ateliers'}) }}">Ateliers</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>

            <button class="header__login-button"><a href="{{ path('app_login') }}">Connexion</a></button>
        </nav>

    </header>

{% endblock %}
