{% block body %}

    <header class="header">

        <div class="header__logo">Logo</div>

        <!-- menu.html.twig -->
        <nav>

            <div class="nav-list">
                <div class="nav-list__item">
                    <a href="{{ path('app_home')}}">
                        Accueil
                    </a>
                </div>
                <div class="nav-list__item">
                    <a href="{{ path('app_association_histoire')}}">
                        L'association
                    </a>
                    <div class="nav-list__item__sub-nav">
                        <a href="{{ path('app_association_histoire')}}" class="nav-list__item__sub-nav__item">Notre histoire</a>
                        <a href="{{ path('app_association_apropos')}}" class="nav-list__item__sub-nav__item">A propos</a>
                    </div>
                </div>
                <div class="nav-list__item">
                    <a href="{{ path('app_nos_services')}}">
                        Nos services
                    </a>
                    <div class="nav-list__item__sub-nav">
                        <a href="{{ path('app_nos_services_travail_de_rue')}}" class="nav-list__item__sub-nav__item">Travail de rue</a>
                        <a href="{{ path('app_nos_services_accompagnement_social')}}" class="nav-list__item__sub-nav__item">Accompagnement social</a>
                        <a href="{{ path('app_nos_services_actions_collectives')}}" class="nav-list__item__sub-nav__item">Actions Collectives</a>
                        <a href="{{ path('app_nos_services_ateliers')}}" class="nav-list__item__sub-nav__item">Ateliers</a>
                    </div>
                </div>
                <div class="nav-list__item">
                    <a href="{{ path('app_actualites')}}">
                        Actualités
                    </a>
                </div>
                <div class="nav-list__item">
                    <a href="{{ path('app_contact')}}">
                        Contact
                    </a>
                </div>
            </div>

            <button class="login-button">
                <a class="login-button__link" href="{{ path('login') }}">
                    <img src="{{ asset('assets/IMG/Icons/profil.png')}}" alt="">
                    Connexion
                </a>
            </button>
        </nav>


    </header>

{% endblock %}
