{% extends 'base.html.twig' %}

{% block title %}NavBar Dashboard{% endblock %}

{% block body %}

    <div class="main-container-dashboard">
        <nav class="main-container-dashboard__main-navigation">
            <!-- Lien pour revenir au site -->
            <div class="main-container-dashboard__main-navigation__back-site">
                <img src="{{ asset('assets/IMG/Icons/go-back.svg') }}" alt="Fléche de retour">
                <a href="{{ path('app_home') }}">
                    Revenir au site
                </a>
            </div>

            <!-- Titre -->
            <a href="{{ path('app_dashboard_admin') }}">
            <h2 class="main-container-dashboard__main-navigation__title">Arrimages</h2>
            </a>

            <!-- Conteneur de navigation -->
            <div class="main-container-dashboard__main-navigation__nav-container">
                <!-- Item de navigation : blog -->
                <div class="main-container-dashboard__main-navigation__nav-container__nav-item">
                    <ul>
                        <li class="main-container-dashboard__main-navigation__nav-container__nav-item__main-list" >Blog</li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_article_new') }}">Ajouter
                            </a>
                        </li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_article_index') }}">Liste
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item de navigation : Utilisateurs -->
                <div class="main-container-dashboard__main-navigation__nav-container__nav-item">
                    <ul>
                        <li class="main-container-dashboard__main-navigation__nav-container__nav-item__main-list">Gestion des équipes</li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_user_new') }}">Ajouter un éducateur
                            </a>
                        </li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_user_index') }}">Liste
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item de navigation : Messagerie -->
                <div class="main-container-dashboard__main-navigation__nav-container__nav-item">
                    <ul>
                        <li class="main-container-dashboard__main-navigation__nav-container__nav-item__main-list">Messagerie</li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="">Contact
                            </a>
                        </li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="">Candidatures
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item de navigation : Jeune -->
                <div class="main-container-dashboard__main-navigation__nav-container__nav-item">
                    <ul>
                        <li class="main-container-dashboard__main-navigation__nav-container__nav-item__main-list">Jeune</li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_jeune_new') }}">Créer une fiche de liaison
                            </a>
                        </li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_jeune_index') }}">Liste des jeunes
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item de navigation : Secteurs -->
                <div class="main-container-dashboard__main-navigation__nav-container__nav-item">
                    <ul>
                        <li class="main-container-dashboard__main-navigation__nav-container__nav-item__main-list">Secteurs</li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_secteur_new') }}">Ajouter
                            </a>
                        </li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_secteur_index') }}">Liste</a>
                        </li>
                    </ul>
                </div>

                <div class="main-container-dashboard__main-navigation__nav-container__nav-item">
                    <ul>
                        <li class="main-container-dashboard__main-navigation__nav-container__nav-item__main-list">Documents</li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_documents_new') }}">Ajouter
                            </a>
                        </li>
                        <li>
                            <a class="main-container-dashboard__main-navigation__nav-container__nav-item__sub-item" href="{{ path('app_documents_index') }}">Liste
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-container-dashboard__main-navigation__nav-container__barre"></div>

                <!-- Bouton de déconnexion -->
                <button class="main-container-dashboard__main-navigation__nav-container__logout-button">
                    <img src="{{ asset('assets/IMG/Icons/power.svg')}}" alt="Power">
                    <a class="main-container-dashboard__main-navigation__nav-container__logout-button__link" href="{{ path('app_logout') }}">
                        Déconnexion
                    </a>
                </button>
            </div>
        </nav>
    </div>
{% endblock %}
