{% extends 'base.html.twig' %}

{% block title %}Gestion des équipes{% endblock %}

{% block body %}

    <div class="main-user">

        {% include 'layout/navbarDashboardAdmin.html.twig' %}

        <div class="main-user__container-user">

            <h1>Gestion des équipes</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mobile</th>
                        <th>Secteur</th>
                        <th>Date de création</th>
                        <th>Dernière modification</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.secteur.name }}</td>
                        <td>{{ user.creationDate ? user.creationDate|date('Y-m-d H:i'): ''}}</td>
                        <td>{{ user.lastModification ? user.lastModification|date('Y-m-d H:i'): ''}}</td>
                        <td>
                            <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Aucun utilisateurs trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>

        </div>

    </div>

{% endblock %}
