{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

    {% include 'layout/navbarDashboardAdmin.html.twig' %}

    <h1>Utilisateur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Mot de passe</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mobile</th>
                <th>Rue</th>
                <th>Complément d'adresse</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Numéro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.street }}</td>
                <td>{{ user.additionalAddress }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.number }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun utilisateurs trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
