{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Équipes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ user.mobile }}</td>
            </tr>
            <tr>
                <th>Secteur</th>
                <td>{{ user.secteur.name }}</td>
            </tr>
        </tbody>
    </table>

    <button onclick="window.location.href='{{ path('app_user_index') }}'" class="back">
        Revenir à la liste
    </button>

    <button onclick="window.location.href='{{ path('app_user_edit', {'id': user.id}) }}'" class="modifier">
        Modifier
    </button>

    {{ include('user/_delete_form.html.twig') }}

    <h2>Jeunes Référents</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Date de création</th>
            <th>Dernière modification</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for jeune in jeunes %}
            <tr>
                <td>{{ jeune.lastname }}</td>
                <td>{{ jeune.firstname }}</td>
                <td>{{ jeune.mobile }}</td>
                <td>{{ jeune.mail }}</td>
                <td>{{ jeune.creationDate ? jeune.creationDate|date('Y-m-d H:i'): ''}}</td>
                <td>{{ jeune.lastModification ? jeune.lastModification|date('Y-m-d H:i'): ''}}</td>
                <td>
                    <a href="{{ path('app_jeune_show', {'id': jeune.id}) }}">Voir</a>
                    <a href="{{ path('app_jeune_edit', {'id': jeune.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun jeunes trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Liste des jeunes dont l'utilisateur est le coréférent #}
    <h2>Jeunes Coréférents</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Date de création</th>
            <th>Dernière modification</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for jeune in coJeunes %}
            <tr>
                <td>{{ jeune.lastname }}</td>
                <td>{{ jeune.firstname }}</td>
                <td>{{ jeune.mobile }}</td>
                <td>{{ jeune.mail }}</td>
                <td>{{ jeune.creationDate ? jeune.creationDate|date('Y-m-d H:i'): ''}}</td>
                <td>{{ jeune.lastModification ? jeune.lastModification|date('Y-m-d H:i'): ''}}</td>
                <td>
                    <a href="{{ path('app_jeune_show', {'id': jeune.id}) }}">Voir</a>
                    <a href="{{ path('app_jeune_edit', {'id': jeune.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun jeune coréférent trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
